/******************************************************************
                                 B A S E
******************************************************************/
html, body, #container {
    height: 100%;
    min-width: 960px;
}

body {
    margin: 0px;
    background-color: #E6E7E8;
    font-family: 'Dosis';
}


#container {

    display: flex;
    flex-flow: column;
}


/***************************HEADER********************************/
#title {
    background-color: #00B98D;
    margin-top: 12px;
    border-style: solid;
    border-color: #E6E7E8;
    border-width: 12px 0 0 0;
}

.title_flex_con {
    display: flex;
    height: 42px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: block;
    height: 60px;
    margin: -20px 16px;
}

#search {
    width: 325px;
    height: 26px;
    border-radius: 13px;
    border-width: 0;
}

#user {
    border-style: solid;
    font-size: 14px;
    width: 16%;
    min-width: 180px;
    color: #FFFFFF;
    border-width: 0 0 0 1px;
    text-align: center;
}

/*****************************BODY********************************/
.body_flex_con {
    display: flex;
    flex: 1;
    width: 100%;
    background-color: tomato;
}

#left {
    background-color: #383735;
    flex: 0 0 240px;
}

#centre {
    background-color: #F9F6F1;
    flex: 1;
    color: #6F6A66;
    overflow-y: auto;
}

#right {
    background-color: #F4F0E7;
    flex: 0 0 240px;
    color: #6F6A66;
}


#zim {
    width: 100%;
    margin: 0;
}

#clock {
    font-size: 28px;
    margin: 0 0 20px 0;

}

#branch {
    font-size: 20px;
    margin: 0;
}

#face {
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    margin: -2px 0 0 0;
    padding: 30px 0;
}


#dependants_table tbody tr:hover,
#dependants_table tbody tr.sel {
    color: #FFF;
    background-color: #00B98D;
}

.cause_p {
    padding: 10px 0 0 10px;
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: 600;
    color: #00B98D ;
}


#admitted_left,
#discharged_left {
    flex: 3;
}

#id_admitted_time,
#id_discharged_time {
    padding: 0 1px;
    height: 28px;
}
#id_admitted_date,
#id_discharged_date {
    height: 28px;
    vertical-align: middle;
}

#id_days,
#id_amount {
    margin: 10px 0;
}
#admitted_right label,
#discharged_right label{
    margin: 0;
}

#admitted_right,
#discharged_right {
    flex: 1;
}

#id_peril_type{
    list-style: none;
    padding-top: 0;
    padding-left: 10px;
    margin: 0;
}

#id_peril_type li {
    padding: 1.5px 0;
}

.days_amount {
    margin-top: 10px;
}

#amount input {
    text-align: right;
}

.form_container {
    display: flex;
    padding: 0 10px;
}

.form_title {
    margin: 10px 20px 0 20px;
    font-size: 32px;
}

.form_left, .form_right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cause_o {
    flex: 0 0 180px;
}

.detail_right {
    flex: 5;
}

.field_flex_con:hover {
    color: #00B98D;
}


.field_flex_con{
    display: flex;
    width: 100%;
    align-items: center;
}

#pre_right {
    flex: 2;
}

#pre_right input {
    width: auto;
    box-shadow: none;
}

.field_left {
    flex: 1;
}

.field_right {
    flex: 3;
}

.field_name {
    font-size: 13px;
}

.field_value {
    font-size: 18px;
    font-weight: 600;
}

.field_name, .field_value {
    margin: 10px;
}

.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.tab li {
    float: left;
    border: 1px solid #D6D6D6;
    background-color: #fff;
    border-bottom: none;
}

.tab li a {
    display: inline-block;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    color: #6F6A66;
}



.tab li a:hover {
    background-color: #00B98D;
}

.tab li a:focus, .active {
    background-color: #00B98D;
}

.tabcontent {
    display: none;
    border: 1px solid #ccc;
    background-color: #fff;
}

#Dependants table,
#instalments table,
#payments table,
#Versions table,
.tables {
    width: 100%;
    border-collapse: collapse;
}

#Dependants table td,
#Versions table td,
#instalments table td,
#payments table td
.tables td{
    padding: 5px 7px;
}

#prem_flex_con {
    display: flex;
}

#instalments {
    flex: 1;
    margin: 0 15px;
}

#payments {
    flex:3;
    margin: 0 15px;
}


.table_head,
.tables thead tr {
    background-color: #00B98D;
    color: #fff;
}

#Versions table tr td a,
.tables tr td a,
.tables tr th a{
    text-decoration: none;
    color: #6F6A66

}
#Dependants table tr:nth-child(even),
#payments table tr:nth-child(even),
#instalments table tr:nth-child(even),
#Versions table tr:nth-child(even),
.tables tr:nth-child(even){
    background-color: #E6E7E8 ;
}

#payments table,
#instalments table {
    font-size: 14px;
}




.centre {
    text-align: center;
}

.prem_title {
    font-size: 14px;
    background-color: #00B98D ;
    color: #fff;
    margin: 0;
    text-align: center;
}

#policy_info .field_name,
#claim_info .field_name {
    margin-bottom: 2px;
}

#policy_info .field_value,
#claim_info .field_value {
    margin-top: 2px;
}

#pay_auth {
    margin-top: -6px;
    margin-bottom: 10px;
}

.narration input,
.detail_right input,
.field_right input,
.field_right select,
.field_right textarea {
    box-sizing: border-box;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    padding: 3px;
    outline: none;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    color: #6F6A66;
    background-color: #F9F6F1;
}

.field_right textarea {
    height: 28px;
    resize: none;
}
.field_right input:focus,
.field_right select:focus,
.field_right textarea:focus,
.detail_right input:focus {
    border: 1px solid #00B98D;
    box-shadow: 1px 1px 4px #00B98D
}

.inputs .field_flex_con {
    margin: 6px 0;
}

.inputs .field_flex_con input:hover,
.inputs .field_flex_con select:hover,
.inputs .field_flex_con textarea:hover {
    border: 1px solid #00B98D;
    color: #00B98D;
}

#create_left,
.form_left {
    padding-right: 25px;
}

#policy_details,
.days_amount,
#hospital {
    display: flex;
    border-style: solid;
    border-width: 1px 0;
    border-color: #ccc;
    background-color: #fff;
}

#policy_details .field_flex_con .field_left {
    flex: 2;
}

#policy_details  {
    padding: 7px;
}

.pol_fields {
    padding-right: 20px;
}

#policy_details .field_flex_con {
    padding: 3px 0;
}

#policy_details .field_flex_con .field_right input,
#policy_details .field_flex_con .field_right textarea,
#policy_details .field_flex_con .field_right select {
    background-color:  #fff;
}

#ben {
    background-color:#00B98D ;
    padding: 0;
    margin: 0;
    color: #fff;
}

#dependants {
    border-collapse: collapse;
}

#dependants th {
    background-color: #CCCCCC;
    border-right: solid #F9F6F1 1px;
}

.dep_row {
    display: flex;
}

.dep_field_con {
    box-sizing: border-box;
    text-align: center;
    padding: 2px;
}
.dep_field_con:nth-child(1){
    width: 25%;
}

.dep_field_con:nth-child(2){
    width: 15%;
}

.dep_field_con:nth-child(3){
    width: 8%;
}

.dep_field_con:nth-child(4){
    width: 10%;
}

.dep_field_con:nth-child(5){
    width: 13%;
}

.dep_field_con:nth-child(6){
    width: 18%;
}

.dep_field_con:nth-child(7){
    width: 3%;
}

.dep_field_con:nth-child(8){
    display: none;
}

.dep_field_con:nth-child(8){
    width: 3%;
}

.dep_field_con input,
.dep_field_con select{
    box-sizing: border-box;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 2px;
    outline: none;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    color: #6F6A66;
    background-color: #F9F6F1;
    text-align: center;
}

.dep_field_con input:not([type="checkbox"]),
.dep_field_con select{
    width: 96%;
}


p.dep_field_con {
    margin: 0;
    background-color: #ccc;
    border-right: solid #F9F6F1 1px;
}

.button {
    border: solid #00B98D 2px ;
    border-radius: 4px;
    padding: 8px;
    font-family: Dosis;
    font-size: 16px;
    background-color: transparent;
    width: 150px;
    font-weight: 600;
    color: #00B98D;
    margin: 20px auto;
    text-decoration: none;
}

.approve_btn {
    margin: 5px 2px;
}

.button:hover {
    background-color: #00B98D;
    color: #fff;
}
.button_con {
    text-align: center;
    padding-top: 10px;
}

.errorlist {
    list-style: none;
    font-weight: 600;
    color: #cd0a0a;
    margin: 0;
    font-size: 13px;
}

.narration {
    display: flex;
    border-top: solid #ccc 1px;
    padding:10px;
}

.narration label {
    width: 40%;
}

#ins_det {
    width: 180px;
}


.pol {
    display: flex;
    align-items: center;
}

.pol:nth-child(odd){
    background-color: #F9F6F1;
}

.pol:nth-child(even){
    background-color: #E6E7E8;
}

.pol:hover {
    background-color: rgba(0, 185, 141, .2);
}


.clust {
    flex: 7;
}

.mon_prem {
    flex: 3;
}

.prop_date {
    flex: 3;
}

.inc_date {
    flex: 4;
}

.in_clust {
    display: flex;
    align-items: center;
}

.in_clust div {
    flex: 1;
}

.pol a {
    text-decoration: none;
    color: #6F6A66;
}

.pol p {
    text-align: center;
    margin: 2px;
}

.small {
    font-size: 14px;
}

.pol .pol_name {
    text-align: left;
    color: #00B98D;
}

.right_info {
    display: none;
}

.pol:hover .right_info {
    display: block;
}

.right_info .plan {
    margin-top: 0;
}

.dep_name {
    margin: 15px 0 5px 0;
    font-weight: 600;
}

.ben{
    color: #00B98D ;
    text-decoration: underline;
}

.padding {
    padding: 0 10px;
}

.message {
    background-color: #00B98D;
    color: #FFF;
    text-align: center;

}

#agent_head {
    margin: 10px 5px;
}
.money {
	text-align: right;
}


#receipt {
    padding: 0;
    margin:0 0 25px 0;
}

.claim_history {
    background-color: #cccccc;
    padding: 10px 5px;
    font-weight: 600;

}

.claim_history p {
    margin: 0;
}

.claim_his {
    background-color: #ffffff;
}

.hist {
    padding:8px ;
}

.event_date {
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: 500;
    color: #00B98D ;
}

.event {
    margin: 2px 0;
    font-size: 14px;
}

#approvers {
    width: 230px;
}
/**********************************************************
                     L O G I N   F O R M
***********************************************************/
#login_container {
    display: flex;
    direction: ;
    height: 100%;
    align-items: center;
    background-color: #2A363F;
}



#login_right {
    flex: 1;
    height: 50%;
    display: flex;
    align-items: center;
    border-left: solid #9BA7A5 2px;
    text-align: center;
    color: #9BA7A5;

}

#login_left {
    flex: 1;
}

#login_logo_cont {
    color: black;
    align-items: center;
}

#login_logo {
    display: block;
    width: 350px;
    margin: auto;
}

#inside {
    width: 60%;
    margin: auto;
}

#id_username,
#id_password {
    background-color: transparent;
    font-size: 18px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 4px #EBEBEB;
    outline: none;
    font-family: Dosis;
    font-weight: 400;
    color: #CCC;
    text-align: center;
    width: 80%;
    height: 40px;
    margin: 10px 0;
   ;
}

#id_password:focus,
#id_username:focus {
    border-color:#00B98D ;
}
#login_table {
    width: 100%;
}
#login_button {
    background-color: #00B98D;
    color: #FFF;
}

#outer {
    width: 100%;
}

/**********************************************************
             A G E N T   D R O P D O W  N
***********************************************************/
#agent_drpdwn {
  position:absolute;
  min-width:50px;
  max-width:300px;
  display:none;
}

#agent_drpdwn:before{
  content:'';
  height:3px;
  width:0;
  position:absolute;
  top:-16px;
  left:14px;
}


#agent_drpdwn {
    background-color: #F9F6F1;
    overflow-y: auto;
}

#agent_drpdwn div p {
    padding: 10px;
    margin: 2px;
}

#agent_drpdwn div p:hover {
    background-color: #00B98D;
    color: #FFF;
}

#id_agent {
    display: none;
}
/**********************************************************
                     P A G I N A T I O N
***********************************************************/

.paging-nav {
	text-align: center;
	padding-top: 2px;
}
.paging-nav a {
	margin: auto 1px;
	text-decoration: none;
	display: inline-block;
	padding: 1px 7px;
	background: rgba(0, 168, 89, .5);
	color: white;
	border-radius: 3px;
}

.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}

#email_text {
    width: 100%;
    height: 4em;
}

div.fixed {
    position: fixed;
    bottom: 50px;
    right: 5px;
}

div.fixed table {
    width: auto;
}

/***********************************************************************************************************************
                                        M    E    N    U         T    W    O
********************************************************************************************************************* */
.sidebar-toggle {
  margin-left: -240px;
}
.sidebar {
  width: 240px;
  height: 100%;
  /*background: #293949;*/
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
}
.sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar #leftside-navigation ul li.active > a {
  color: #fff;
}
.sidebar #leftside-navigation ul li.active ul {
  display: block;
}
.sidebar #leftside-navigation ul li a {
  color: #E6E7E8;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  /* font-size: 12px;*/
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.sidebar #leftside-navigation ul li a:hover {
  background-color: #1abc9c;
}
.sidebar #leftside-navigation ul li a span {
  display: inline-block;
}
.sidebar #leftside-navigation ul li a i {
  width: 20px;
}
.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}
.sidebar #leftside-navigation ul ul {
  display: none;
}
.sidebar #leftside-navigation ul ul li {
  background: #E6E7E8;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}
.sidebar #leftside-navigation ul ul li a {

  padding-top: 13px;
  padding-bottom: 13px;
  color: #6F6A66
}