{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>


    <link rel="stylesheet" type="text/css" href="{% static 'system/dosis.css' %}">
    <link rel="stylesheet" href="{% static 'system/jquery-ui-1.11.4/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'system/calendar/codebase/dhtmlxcalendar.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'system/paging.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'system/opentip/opentip.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'system/style_1.css' %}">
    <script type="text/javascript" src="{% static 'system/jquery-1.11.3.js' %}"></script>
    <script src="{% static 'system/jquery-ui-1.11.4/jquery-ui.min.js' %}"></script>
    <script src="{% static 'system/script.js' %}"></script>
    <script src="{% static 'system/paging.js' %}"></script>
    <script src="{% static 'system/calendar/codebase/dhtmlxcalendar.js' %}"></script>
    <script src="{% static 'system/opentip/opentip.js' %}"></script>



    <link rel="icon" type="image/png" href="{% static 'system/images/icon.png' %}">

    <title>{% block title %}{% endblock %}</title>

    {% block js %}{% endblock %}
</head>

<body>
    <div id="container">
        <header>
            <div id="title" class="title_flex_con">
                <a href="{% url "system:index" %}">
                    <img id="logo" src="{% static 'system/images/Title.png' %}">
                </a>

                <form action="{% url 'system:index' %}" method="post">
                    {% csrf_token %}
                    <input id="search" type="search" placeholder="Search" name="search" maxlength="200">
                    <input type="submit">
                </form>

                <p id="user">{{ user|capfirst }} </p>
            </div>
        </header>
        <div id="body" class="body_flex_con">
            <div id="left">
                  <aside class="sidebar">
                  <div id="leftside-navigation" class="nano">
                    <ul class="nano-content">
                      <li>
                        <a href="{% url "system:create_policy" %}"><i class="fa fa-dashboard"></i><span>Create new policy</span></a>
                      </li>

                      <li class="sub-menu">
                        <a href="javascript:void(0);"><i class="fa fa-cogs"></i><span>Claims</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                        <ul>
                          <li><a href="{% url 'system:view_claims' %}">View claims</a></li>
                          <li><a href="#">Approve claims</a></li>
                        </ul>
                      </li>

                      <li class="sub-menu">
                        <a href="javascript:void(0);"><i class="fa fa-table"></i><span>Agents</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                        <ul>
                            <li><a href="{% url "system:add_agent" %}">Add agent</a></li>
                            <li><a href="{% url "system:agents_list" %}">Agent list</a></li>
                            <li><a href="{% url "system:comm_statements" %}">Commision statement</a></li>
                            <li><a href="{% url "system:agent_statements" %}">Premium statement</a></li>
                        </ul>
                      </li>

                      <li class="sub-menu">
                          <a href="javascript:void(0);"><i class="fa fa fa-tasks"></i><span>Reports</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                          <ul>
                            <li><a href="{% url "system:gwp_report" %}">GWP report</a></li>
                            <li><a href="{% url "system:lodgement" %}">Lodgement</a></li>
                            <li><a href="{% url "system:cards" %}">Cards Printed</a></li>
                          </ul>
                      </li>

                        <li class="sub-menu">
                          <a href="javascript:void(0);"><i class="fa fa fa-tasks"></i><span>Admin</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                          <ul>
                            <li><a href="{% url 'system:add_paying_authority' %}">Add paying authority</a></li>
                          </ul>
                        </li>

                        <li class="sub-menu">
                          <a href="javascript:void(0);"><i class="fa fa fa-tasks"></i><span>Accounts</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                          <ul>
                            <li><a href="{% url "system:receipts" %}">Receipts</a></li>
                          </ul>
                        </li>

                    </ul>
                  </div>
                </aside>
                <!--

                <a href="{% url "system:index" %}">
                    <img id="zim" src="{% static 'system/images/logo.png' %}">
                </a>
                <div id="face">
                    <p id="clock">{% now "F d, Y" %}</p>
                    <p id="branch">Harare Branch</p>
                </div>

                <div id="menu_wrapper">
                    <ul id="menu">






                    </ul>
                </div>
-->
            </div>

            {% load humanize %}
            <div id="centre">{% block centre %}{% endblock %}</div>

            <div id="right">{% block right %}{% endblock %}</div>

        </div>


    </div>
    <script type="text/javascript">

        $("#leftside-navigation .sub-menu > a").click(function(e) {
            $('.active').removeClass('active');
            $(this).addClass('active');
            $("#leftside-navigation ul ul").slideUp(), $(this).next().is(":visible") || $(this).next().slideDown(),
            e.stopPropagation()
        });


        $(document).ready( function () {
            $('.paginated').DataTable();
        } );

    </script>



</body>
</html>